<% layout('layout/post-show-layout')-%> 


<h1>
    <%= post.title %>
</h1>

<p> price  <%= post.price %></p>

<div> desc? <%= post.description %></div>
<div>  <%= post.location %></div>
<div>
    <% post.images.forEach(function(image) {%> 
         
        <img src="<%= image.url %>" alt="image" width="200px" />
   <% }) %>   
</div>

<div id='map'></div> <!-- load the map -->

<div>
    <a href="/posts/<%= post.id %>/edit">edit post</a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete" />
    </form>
</div>

<h2>Reviews</h2>
<h3>create review</h3>
<form action="/posts/<%= post.id %>/reviews" method="POST">
    <textarea name="review[body]"></textarea>
    <input type="number" min="1" max="5" step="1" name="review[rating]"  required>
    <input type="submit" />
</form>

<h3>Reviews</h3>
<!-- display all reviews -->
<% post.reviews.forEach(function(review) { %>
	<div>
		<%= review.body %>
		Rating: <%= review.rating %>
	</div>
<% }); %>
