<h1>
    <%= post.title %>
</h1>

<p> price  <%= post.price %></p>

<div>  <%= post.description %></div>
<div>  <%= post.location %></div>

<div><a href="/posts/<%= post.id %>/edit">edit post</a></div>